.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
}

.containerMain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  min-height: 70vh;
  width: 70vw;
  max-width: var(--max-width);
  margin-top: 170px;
  margin-bottom: 40px;
}
.containerMain h1 {
  font-size: 2.5rem;
}

.title {
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: space-between;
}

.picture {
  width: 90px;
  height: 90px;
  border-radius: var(--border-radius);
  background-color: blue;
  position: relative;
  left: -10px;
  top: -35px;
}

.header {
  width: 100vw;
  height: 130px;
  background-color: purple;
  position: fixed;
  top: 0px;
  left: 0px;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
  margin-bottom: 0.5rem;
}

.card {
  width: 100%;
  max-width: 600px;
  height: auto;
  min-height: 100px;
  padding: 1rem 2rem;
  margin-top: 50px;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}
.card span {
  display: inline-block;
  transition: transform 200ms;
}
.card h1 {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 5px;
}
.card h2 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
}
.card p {
  font-size: 1rem;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
    cursor: pointer;
  }
  .card:hover span {
    transform: translateX(4px);
  }
}

/* Mobile */
@media (max-width: 700px) {
  .grid {
    grid-template-columns: 1fr;
    max-width: 320px;
    text-align: center;
    margin-bottom: 15px;
  }
  .code {
    text-align: center;
    margin-bottom: 0.7rem;
    font-size: 10px;
  }
  .card {
    margin-top: 8px;
  }
  .containerMain {
    width: 100%;
    padding: 12px;
  }
  .picture {
    position: relative;
    left: -15px;
    top: -5px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .main {
    text-align: center;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}